name: Build and Deploy Maximo Workorder

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
          server-id: github
          settings-path: $HOME/.m2  # Maven will automatically use settings.xml here

      - name: Configure Maven for GitHub Packages
        run: |
          mkdir -p $HOME/.m2
          cat > $HOME/.m2/settings.xml <<EOF
          <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
                    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
            <servers>
              <server>
                <id>github</id>
                <username>${{ github.actor }}</username>
                <password>${{ secrets.Shared_Modules_Token }}</password>
              </server>
            </servers>
          </settings>
          EOF

      - name: Build and Deploy Maven package
        working-directory: ./assetmanagement/assetmanagement.maximo.workorder
        run: mvn clean deploy
        env:
          Shared_Modules_Token: ${{ secrets.Shared_Modules_Token }}
